doctype html
html
  include ../head.pug
  body
    include ../loader.pug
    include sticky_highs_lows_dimensions.pug
    div(class="u-container")
      include highs_lows_scores.pug
      include highs_lows_scripts.pug