section(class="StickyDimensions u-sticky-container")
  header(class="TeamMemberScores-row TeamMemberScores-stickyDimensions")
    span(class="TeamMemberScores-cell u-label") Team Members
    span(class="TeamMemberScores-cell u-label") Highs
    span(class="TeamMemberScores-cell u-label") Lows