doctype html
html
  include ../head.pug
  body
    div.u-container
      section(class="u-section SectionBox")
        include detail_left_column.pug
        include detail_right_column.pug

    include detail_scripts.pug