div(class="ScoreBox-dimension avgSatisfaction")
  span(class="u-label") Satisfaction
div(class="ScoreBox-dimension avgWorkload")
  span(class="u-label") Workload
div(class="ScoreBox-dimension avgProductivity")
  span(class="u-label") Productivity
div(class="ScoreBox-dimension avgClarity")
  span(class="u-label") Clarity
div(class="ScoreBox-dimension avgStress")
  span(class="u-label") Stress