div(class="ScoreBox-dimension satisfaction")
  span(class="u-label") Satisfaction
div(class="ScoreBox-dimension workload")
  span(class="u-label") Workload
div(class="ScoreBox-dimension productivity")
  span(class="u-label") Productivity
div(class="ScoreBox-dimension clarity")
  span(class="u-label") Clarity
div(class="ScoreBox-dimension stress")
  span(class="u-label") Stress