- var isButterInstance = true

doctype html
html
  include ../head.pug
  body
    include ../loader.pug
    div.u-container
      section(class="u-section SectionBox Detail")
        
    include ../base_scripts.pug
    script
      include ../../../build/scripts/views/wkly_report_detail-min.js