body {
  font-family: "Open Sans", sans-serif;
  background-color: #F3F3F2;
  padding: 0 5%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #444;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.5rem;
  font-weight: 400; }

canvas {
  width: 60px;
  height: 60px; }

.u-container {
  max-width: 1180px;
  margin: 0 auto; }
.u-section {
  background-color: #fff;
  border: 1px solid #aaaaa2;
  margin: 24px 0; }
.u-label {
  text-transform: uppercase;
  font-size: 14px; }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .u-label {
      font-size: 13px; } }
.u-small-label, .u-small-label-reverse {
  font-size: 12px; }
.u-padding-btm-40 {
  padding-bottom: 40px; }

.SectionBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  padding: 20px; }

.ScoreBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 50px; }
  .ScoreBox-dimension {
    text-align: center; }

.Aggregate {
  padding: 20px; }
  .Aggregate-heading {
    padding-left: 20px; }
  .Aggregate-completedPercent {
    display: block;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 0.7; }
  .Aggregate-container, .Aggregate-aggregate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
  .Aggregate-container {
    flex-wrap: wrap; }
    @media screen and (min-width: 1000px) {
      .Aggregate-container {
        flex-wrap: nowrap; } }
  .Aggregate-measureable {
    text-align: center;
    flex-basis: 50%;
    width: 50%;
    margin: 20px 0; }
    .Aggregate-measureable .TeamMemberScores-cell {
      position: relative; }
      .Aggregate-measureable .TeamMemberScores-cell:before {
        content: attr(data-avg-score);
        display: block;
        position: absolute;
        width: 100%;
        font-size: 32px;
        line-height: 100px; }
    @media screen and (min-width: 1000px) {
      .Aggregate-measureable {
        flex-basis: 10%;
        width: 10%; }
        .Aggregate-measureable .TeamMemberScores-cell:before {
          line-height: 100px; } }
    @media screen and (min-width: 1000px) and (max-width: 1200px) {
      .Aggregate-measureable .TeamMemberScores-cell:before {
        line-height: 80px;
        font-size: 1.5rem; }
      .Aggregate-measureable canvas {
        width: 80px !important;
        height: 80px !important; } }
    @media screen and (max-width: 999px) {
      .Aggregate-measureable .TeamMemberScores-cell:before {
        line-height: 25vw; }
      .Aggregate-measureable canvas {
        width: 25vw !important;
        height: 25vw !important; } }
  .Aggregate-aggregate {
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px; }
    .Aggregate-aggregateCompleted {
      color: #fff; }
    .Aggregate-aggregateScore {
      font-size: 8.25rem;
      color: #fff; }
      @media screen and (min-width: 1000px) and (max-width: 1200px) {
        .Aggregate-aggregateScore {
          font-size: 6rem; } }
    @media screen and (min-width: 500px) {
      .Aggregate-aggregate {
        flex-direction: row;
        padding-bottom: 20px; } }
    @media screen and (min-width: 1000px) {
      .Aggregate-aggregate {
        width: 27%;
        flex-basis: 27%; } }

.TeamMemberScores-scores {
  padding: 20px; }
.TeamMemberScores-noScores {
  padding: 20px 40px; }
.TeamMemberScores-noScores {
  border-top: 1px solid #aaaaa2; }
  .TeamMemberScores-noScores .TeamMemberScores-row > div:first-child:hover {
    cursor: default; }
.TeamMemberScores-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .TeamMemberScores-row > div:first-child:hover {
    cursor: pointer; }
  .TeamMemberScores-rowWrap {
    flex-wrap: wrap;
    justify-content: flex-start; }
.TeamMemberScores-cell {
  flex-basis: 15%;
  text-align: center;
  margin: 20px 0; }
  .TeamMemberScores-cell[data-incomplete-report] {
    flex-basis: 16.6667%; }
  .TeamMemberScores-cell:not([data-incomplete-report]):first-child {
    width: 38%;
    flex-basis: 38%; }
  .TeamMemberScores-cell:not(.u-label):not([data-incomplete-report]):first-child {
    text-align: left;
    padding-left: 6%;
    box-sizing: border-box; }
.TeamMemberScores-chart {
  margin: 0 auto; }
.TeamMemberScores-headShot {
  width: 70px;
  height: 70px;
  display: block;
  background-size: cover;
  margin: 10px auto;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  border-width: 4px;
  border-style: solid;
  box-sizing: border-box; }
.TeamMemberScores-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  text-align: left; }

.Detail-column + .Detail-column {
  padding: 0;
  padding-top: 50px;
  width: 65%; }
.Detail-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  margin: 10px 65px;
  border-width: 4px;
  border-style: solid;
  box-sizing: border-box;
  border-width: 17px;
  display: block; }
.Detail .TeamMemberScores-cell {
  position: relative; }
  .Detail .TeamMemberScores-cell:before {
    content: attr(data-avg-score);
    display: block;
    position: absolute;
    width: 100%;
    font-size: 32px;
    line-height: 125px; }

/*# sourceMappingURL=base.css.map */
