.Aggregate {
  padding: $container_padding;

  &-heading {
    padding-left: $container_padding;
  }

  &-completedPercent {
    display: block;
    font-weight: bold;
    font-size: $heading_font_size;
  }

  &-container,
  &-aggregate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  &-aggregate {
    padding: $container_padding;
    width: 25%;
    flex-basis: 25%;

    &Completed {
      color: $white;
    }

    &Score {
      font-size: $heading_font_size * 4;
      color: $white;
    }
  }

  &-measureable {

    flex-basis: 10%;
    text-align: center;
    margin: 20px 0;

    .TeamMemberScores-cell {
      position: relative;

      &:before {
        content: attr(data-avg-score);
        display: block;
        position: absolute;
        width: 100%;
        font-size: 32px;
        line-height: 100px;
      }
    }
  }
}