.Aggregate {
  padding: $container_padding;

  &-heading {
    padding-left: $container_padding;

    @media screen and (max-device-width: $extra_small_break_point) {
      padding-left: 0;
    }

    &Block {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-device-width: $small_break_point) {
        flex-direction: row;
      }
    }
  }

  &-link {
    color: $dark_gray;
    text-decoration: none;
    cursor: pointer;

    @media screen and (min-device-width: $small_break_point) {
      padding-right: $container_padding;
    }
  }

  &-completedPercent {
    display: block;
    font-weight: bold;
    font-size: $large_font_size;
    line-height: 0.7;
  }

  &-container,
  &-aggregate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  &-container {
    flex-wrap: wrap;

    @media screen and (min-device-width: $small_break_point) {
      flex-wrap: nowrap;
    }
  }

  &-measureable {
    text-align: center;
    flex-basis: 50%;
    width: 50%;
    margin: 20px 0;

    .TeamMemberScores-cell {
      position: relative;

      &:before {
        content: attr(data-avg-score);
        display: block;
        position: absolute;
        width: 100%;
        font-size: 32px;
        line-height: $agg_chart_size;
      }
    }

    @media screen and (min-device-width: $small_break_point) {
      flex-basis: 10%;
      width: 10%;

      .TeamMemberScores-cell {
        &:before {
          line-height: $agg_chart_size;
        }
      }
    }

    @media screen and (min-device-width: $small_break_point) and (max-width: $med_break_point) {
      .TeamMemberScores-cell {
        &:before {
          line-height: $intermediate_agg_chart_size;
          font-size: $heading_font_size;
        }
      }

      canvas {
        width: $intermediate_agg_chart_size !important;
        height: $intermediate_agg_chart_size !important;
      }
    }

    @media screen and (max-device-width: $small_break_point_1) {
      .TeamMemberScores-cell {
        &:before {
          line-height: $mobile_agg_chart_size;
        }
      }

      canvas {
        width: $mobile_agg_chart_size !important;
        height: $mobile_agg_chart_size !important;
      }
    }
  }

  &-aggregate {
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    padding: $container_padding;
    padding-bottom: $container_extra_padding;

    &Completed {
      color: $white;
    }

    &Score {
      font-size: $heading_font_size * 5.5;
      color: $white;

      @media screen and (min-device-width: $small_break_point) and (max-device-width: $med_break_point) {
        font-size: $heading_font_size * 4;
      }
    }
    
    @media screen and (min-device-width: $extra_small_break_point) {
      flex-direction: row;
      padding-bottom: $container_padding;
    }

    @media screen and (min-device-width: $small_break_point) {
      width: 27%;
      flex-basis: 27%;
    }
  }
}