.Detail {
  &-column {
    text-align: left;

    @media screen and (max-device-width: $small_break_point_1) {
      text-align: center;
    }

    & + & {
      padding: 0;
      padding-top: 50px;
      width: 65%;

      @media screen and (max-device-width: $small_break_point_1) {
        width: 100%;
        text-align: left;
      }
    }
  }

  &-name {
    margin-top: 0;
  }

  &-back {
    text-align: right;
    top: -50px;
    margin-bottom: 20px;
    position: relative;
    
    @media screen and (max-device-width: $small_break_point_1) {
      text-align: center;
      top: -20px;
    }

    &Text {
      cursor: pointer;
    }
  }

  &-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-image: url($headshot_cdn_link);
    margin: 10px 65px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 17px;
    display: block;

    @media screen and (max-device-width: $small_break_point_1) {
      margin: 10px auto;
      width: 200px;
      height: 200px;
    }
  }

  .TeamMemberScores-cell {
    position: relative;

    &:before {
      content: attr(data-avg-score);
      display: block;
      position: absolute;
      width: 100%;
      font-size: 32px;
      line-height: 110px;
    }
  }
}