body {
  font-family: $base_font;
  background-color: $gray;
  padding: 0 5%;
  font-weight: 400;
  letter-spacing: 1px;
  color: $dark_gray;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: $heading_font_size;
  font-weight: 400;
}

canvas {
  width: 60px;
  height: 60px;
}
