.u {
  &-container {
    max-width: 1180px;
    margin: 0 auto;
  }

  &-section {
    background-color: $white;
    border: 1px solid darken($gray, 30%);
    margin: 24px 0;
  }

  &-label {
    text-transform: uppercase;
    font-size: $label_font_size;

    @media screen and (min-width: $small_break_point) and (max-width: $med_break_point) {
      font-size: $small_label_font_size;
    }
  }

  &-small-label,
  &-small-label-reverse {
    font-size: 12px;
  }

  &-padding-btm-40 {
    padding-bottom: 40px;
  }
}