header(class="Aggregate u-section")
  h1(class="Aggregate-heading") Overall Health Score
  div(class="Aggregate-container")
    div(class="Aggregate-aggregate")
      div(class="Aggregate-aggregateScore")
      div(class="Aggregate-aggregateCompleted")
        span(class="u-small-label-reverse") completed
    div(class="Aggregate-measureable")
      span(class="u-label") Morale
    div(class="Aggregate-measureable")
      span(class="u-label") Stress
    div(class="Aggregate-measureable")
      span(class="u-label") Workload
    div(class="Aggregate-measureable")
      span(class="u-label") Clarity