header(class="Aggregate u-section")
  div.Aggregate-headingBlock 
    h1(class="Aggregate-heading") Overall Health Score
    a(class="u-label Aggregate-link" href="/highs-lows") Highs + Lows
  div(class="Aggregate-container")
    div(class="Aggregate-aggregate Aggregate-measureable")
      div(class="Aggregate-aggregateScore")
      div(class="Aggregate-aggregateCompleted")
        span(class="u-small-label-reverse") completed
    div(class="Aggregate-measureable satisfaction")
      span(class="u-label") Satisfaction
    div(class="Aggregate-measureable workload")
      span(class="u-label") Workload
    div(class="Aggregate-measureable productivity")
      span(class="u-label") Productivity
    div(class="Aggregate-measureable clarity")
      span(class="u-label") Clarity
    div(class="Aggregate-measureable stress")
      span(class="u-label") Stress