doctype html
html
  include head.pug
  body
    include loader.pug
    include sticky_dimensions.pug
    div(class="u-container")
      include aggregate.pug
      include scores.pug
      include scripts.pug