section(class="TeamMemberScores-noScores")
  h2(class="TeamMemberScores-heading") Didn't Fill Out Survey
  div(class="TeamMemberScores-row")
    span(class="TeamMemberScores-cellPerson")
    span(class="TeamMemberScores-cellPerson")
    span(class="TeamMemberScores-cellPerson")
    span(class="TeamMemberScores-cellPerson")