section(class="TeamMemberScores u-section")
  div(class="TeamMemberScores-col")
  div(class="TeamMemberScores-colMain")
    section(class="TeamMemberScores-scores")
      header(class="TeamMemberScores-row")
        span(class="TeamMemberScores-cell u-label") Team Members
        span(class="TeamMemberScores-cell u-label") Satisfaction
        span(class="TeamMemberScores-cell u-label") Workload
        span(class="TeamMemberScores-cell u-label") Productivity
        span(class="TeamMemberScores-cell u-label") Clarity
        span(class="TeamMemberScores-cell u-label") Stress